*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1b1b1b;
}

h2 {
  color: #6694eb;
  margin-bottom: 20px;
}

label {
  color: white;
}

img {
  max-width: 120px;
}

input,
textarea {
  background-color: transparent;
  border: 2px dashed #6694eb;
  padding: 10px;
  color: white;
}

.container {
  padding: 30px;
}

.title {
  color: white;
  margin-bottom: 30px;
}

.comments-wrap {
  display: flex;
  gap: 40px;
}

.comments-form {
  min-width: 45%;
}

.block-name {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.block-avatar {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.block-comment {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.btn {
  background-color: #6694eb;
  color: white;
  padding: 5px 15px;
  border: none;
}

.chat-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
